.nav-item:hover {
    background-color: rgb(37, 37, 37);
    box-shadow: 0 0 10px red;
    border: 2px solid red;
    color: white;


}

.nav-item {
    transition: all 0.3s ease-in-out;
    padding: 5px 10px;
    border: 0;
    border-radius: 10px;
    border: 2px solid transparent;
    background: transparent;
}